
body {
            font-family: Arial;
            background-color: green;
            margin: 60px;
        }

        h1 {
            text-align: center;
        }

        .container {
            display: flex;
            gap: 10px;
	    background-color: white;
        }

        .column {
            background-color: lightgreen;
            padding: 20px;
            flex: 1;
        }

        /* Changes the background when screen is below 500px */
        @media (max-width: 500px) {
            body {
                background-color: red;
            }

            .container {
                flex-direction: column;
            }
        }
